nodered_flow_v2.json
[{"id":"480aa5fc.9818fc","type":"subflow","name":"ALPR - Cropped","info":"","category":"","in":[{"x":200,"y":140,"wires":[{"id":"e29306bc.7496b8"}]}],"out":[{"x":1160,"y":500,"wires":[{"id":"ab35ec6d.ff6e5","port":0}]}],"env":[{"name":"log_time","type":"bool","value":"false"}],"meta":{},"color":"#DDAA99","status":{"x":1280,"y":240,"wires":[{"id":"94cc9c7b.28aca","port":0}]}},{"id":"bedc46db.5534d8","type":"file","z":"480aa5fc.9818fc","name":"Zapisanie obrazu w pliku image.png","filename":"/home/pi/image.png","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":380,"y":360,"wires":[["178d2047.61cb1"]]},{"id":"8a6dd0f9.ec236","type":"exec","z":"480aa5fc.9818fc","command":"/home/pi/.local/bin/.virtualenvs/easyocr/bin/python3 -u /home/pi/python_alpr_v2.py","addpay":"arg","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Uruchomienie skryptu python","x":820,"y":360,"wires":[["c27f8e2f.df182","738b3d1f.897b84"],[],[]]},{"id":"178d2047.61cb1","type":"change","z":"480aa5fc.9818fc","name":"Ustawienie argumentów wejściowych","rules":[{"t":"set","p":"arg","pt":"msg","to":"\"1.05\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":440,"wires":[["7d95a19c.ac8b4"]]},{"id":"ab35ec6d.ff6e5","type":"function","z":"480aa5fc.9818fc","name":"Sanitaryzacja uzyskanego tekstu","func":"msg.payload = msg.payload.replace(/[^a-z0-9]/gi,'');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":520,"wires":[["770f0792.53e0b8","e0f3060f.88b6c8"]]},{"id":"e29306bc.7496b8","type":"switch","z":"480aa5fc.9818fc","name":"Filtr samochód","property":"isCar","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":180,"wires":[["1bba66a5.1d96c9"],["26ec8928.11c7e6"]]},{"id":"1bba66a5.1d96c9","type":"change","z":"480aa5fc.9818fc","name":"msg.payload = obraz wejściowy","rules":[{"t":"set","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["bedc46db.5534d8"]]},{"id":"a83a8ea2.7ee9c","type":"debug","z":"480aa5fc.9818fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"time","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":420,"wires":[]},{"id":"7d95a19c.ac8b4","type":"change","z":"480aa5fc.9818fc","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"$millis()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":420,"wires":[["8a6dd0f9.ec236","da194918.1bc568"]]},{"id":"c27f8e2f.df182","type":"change","z":"480aa5fc.9818fc","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"$join([\"Python computation time: \",$string(($millis() - msg.time)/1000), \" s\"])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":440,"wires":[["ab35ec6d.ff6e5"]]},{"id":"770f0792.53e0b8","type":"debug","z":"480aa5fc.9818fc","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"26ec8928.11c7e6","type":"change","z":"480aa5fc.9818fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error: No cars found!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["770f0792.53e0b8"]]},{"id":"da194918.1bc568","type":"change","z":"480aa5fc.9818fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please wait...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["770f0792.53e0b8"]]},{"id":"738b3d1f.897b84","type":"change","z":"480aa5fc.9818fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Processing output...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":300,"wires":[["770f0792.53e0b8"]]},{"id":"94cc9c7b.28aca","type":"status","z":"480aa5fc.9818fc","name":"","scope":["770f0792.53e0b8"],"x":1160,"y":240,"wires":[[]]},{"id":"e0f3060f.88b6c8","type":"switch","z":"480aa5fc.9818fc","name":"","property":"log_time","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":460,"wires":[["a83a8ea2.7ee9c"]]},{"id":"c51206f5.7a4d68","type":"subflow","name":"CocoSSD","info":"A node performing object detection using Tensorflow and CocoSSD model\n### Input arguments are:\n - msg.payload - image on which algorythm will be performed\n\n### Output:\n - msg.payload - array of found objects in stucture:\n *  bbox - bounding box in % of image [x, y, w, h]\n *  className - name of found object in polish\n *  score - confidency score of object\n - msg.filename - name of the input file\n - msg.mimetype - type of input file\n - msg.image - input image in buffer","category":"advanced","in":[{"x":260,"y":140,"wires":[{"id":"2e857dc8.fe7d32"}]}],"out":[{"x":680,"y":340,"wires":[{"id":"4d9e62c6.18bbec","port":0}]}],"env":[],"meta":{"module":"node-red-contrib-coco-ssd","version":"1.0.0","author":"Mikołaj Tkaczyk","license":"MIT"},"color":"#E7E7AE","icon":"node-red/watch.svg","status":{"x":780,"y":120,"wires":[{"id":"53cdfe0a.08fbb","port":0}]}},{"id":"2e857dc8.fe7d32","type":"tf-function","z":"c51206f5.7a4d68","name":"Stworzenie tensoru","func":"const image = tf.tidy(()=>{\n    return tf.node.decodeImage(msg.payload, 3).expandDims(0);\n});\n\nmsg.image = msg.payload;\nmsg.payload = { image_tensor: image }\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["1a825b5.c07c6a5"]]},{"id":"1a825b5.c07c6a5","type":"tf-model","z":"c51206f5.7a4d68","modelURL":"https://storage.googleapis.com/tfjs-models/savedmodel/ssdlite_mobilenet_v2/model.json","outputNode":"","name":"","x":430,"y":240,"wires":[["4d9e62c6.18bbec"]]},{"id":"4d9e62c6.18bbec","type":"post-object-detection","z":"c51206f5.7a4d68","classesURL":"https://api.jsonbin.io/b/60f2c9b9c1256a01cb7150fb","iou":"0.5","minScore":"0.5","name":"","x":500,"y":340,"wires":[[]]},{"id":"53cdfe0a.08fbb","type":"status","z":"c51206f5.7a4d68","name":"","scope":["1a825b5.c07c6a5"],"x":640,"y":120,"wires":[[]]},{"id":"33121b70.1b26f4","type":"tab","label":"ALPR - Exec","disabled":false,"info":""},{"id":"73520b5a.d23284","type":"debug","z":"33121b70.1b26f4","name":"Wyświetlenie tekstu","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":60,"wires":[]},{"id":"db5e46ff.9d6f88","type":"fileinject","z":"33121b70.1b26f4","name":"Wprowadzenie pliku","x":190,"y":120,"wires":[["e7eff3bc.f275","44d06d1d.b8cd14"]]},{"id":"70fb4ca5.9033b4","type":"function","z":"33121b70.1b26f4","name":"Ustawienie bbox do crop","func":"msg.cars = msg.payload.filter(function(e) { return e.className === 'samochód'; });\nif (msg.cars.length > 0) {\n    msg.isCar = true;\n}\nelse{\n    msg.isCar = false;\n}\nmsg.payload = {\n    objects: msg.payload,\n    image: msg.image\n}\nmsg.maxScore = msg.payload.objects.reduce(function(prev, current) {\n    return (prev.bbox[2]*prev.bbox[3] > current.bbox[2]*current.bbox[3]) ? prev : current\n});\nmsg.bbox = [msg.width*msg.maxScore.bbox[0], msg.height*msg.maxScore.bbox[1], msg.width*msg.maxScore.bbox[2], msg.height*msg.maxScore.bbox[3]];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["5e98c283.f1c37c"]]},{"id":"e7eff3bc.f275","type":"image","z":"33121b70.1b26f4","name":"","width":"500","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":160,"y":280,"wires":[]},{"id":"73a89cad.231bb4","type":"subflow:c51206f5.7a4d68","z":"33121b70.1b26f4","name":"","env":[],"x":440,"y":140,"wires":[["70fb4ca5.9033b4"]]},{"id":"aed6434b.6ffaf","type":"template","z":"33121b70.1b26f4","name":"Python script","field":"code","fieldType":"msg","format":"python","syntax":"plain","template":"import sys\nimport cv2\nimport numpy as np\nimport gpyocr\nplateCascade = cv2.CascadeClassifier(\"/home/pi/haarcascade_eu_plate_number.xml\")\ncolor = (255,120,255)\narg = float(sys.argv[1])\n\noutText = \"\"\n\ndef getText(filename):\n\toutText = gpyocr.tesseract_ocr(filename,psm=7)[0]\n\treturn outText\n\ndef resize(img):\n\timgCopy = img.copy()\n\tresized_img = cv2.resize(imgCopy, (int(imgCopy.shape[1] * 220/100), int(imgCopy.shape[0] * 220/100)), interpolation = cv2.INTER_AREA)\n\treturn resized_img\n\ndef getMorph(img):\n\tkernel = np.ones((3, 3), np.uint8)\n\t_, morph = cv2.threshold(cv2.GaussianBlur(img,(5,5),0),0,255,cv2.THRESH_BINARY|cv2.THRESH_OTSU)\n\tmorph = cv2.erode(morph,kernel)\n\tmorph = cv2.dilate(morph,kernel)\n\tmorph = cv2.bitwise_not(morph)\n\tpad = cv2.copyMakeBorder(morph, 1,1,1,1, cv2.BORDER_CONSTANT, value=255)\n\th, w = pad.shape\n\tmask = np.zeros([h+2, w+2], np.uint8)\n\timg_flood = cv2.floodFill(pad, mask, (0,0), 0, (5), (0), flags=8)[1]\n\timg_flood = img_flood[1:h-1, 1:w-1]\n\tmorph = cv2.bitwise_not(img_flood)\n\tmorph = cv2.dilate(morph, kernel)\n\tmorph = cv2.erode(morph, kernel, iterations=3)\n\tmorph = cv2.dilate(morph, kernel)\n\treturn morph\n\ndef getPlates(img):\n    plates = plateCascade.detectMultiScale3(img, arg, outputRejectLevels=True)\n    if len(plates[0]) > 0:\n        totalPlates = zip(plates[0], plates[2])\n        totalPlates = list(totalPlates)\n        totalPlates.sort(key = lambda x: x[1][0], reverse=True)\n        return [totalPlates[0][0][0], totalPlates[0][0][1], totalPlates[0][0][2], totalPlates[0][0][3]]\n    else:\n        raise Exception(\"No plates found!\")\n    \ndef doALPR(img):\n\ttemp = img\n\timgGray = cv2.cvtColor(temp, cv2.COLOR_BGR2GRAY)\n\t[x, y, w, h] = getPlates(imgGray)\n\troi_gray = imgGray[y:y+h, x:x+w]\n\troi_color = img[y+2:y+h-2, x+2:x+w-2]\n\tcv2.rectangle(temp, (x, y), (x + w, y + h), color, 2)\n\tcv2.putText(temp, \"Tablica\", (x, y - 8), cv2.FONT_HERSHEY_COMPLEX_SMALL, 1, color, 2)\n\tcv2.imwrite(\"bbox.png\",temp)\n\tcv2.imwrite(\"result.png\", roi_color)\n\tresized = resize(roi_gray)\n\tmorph = getMorph(resized)\n\tcv2.imwrite(\"morph.png\", morph)\n\tfoundText = getText(\"/home/pi/morph.png\")\n\treturn foundText\ndef main():\n    img = cv2.imread(\"image.png\")\n    outText = doALPR(img)\n    if len(outText)==0:\n\t    raise Exception(\"Numbers not detected!\")\n    else:\n\t    print(outText)\nmain()\n","output":"str","x":330,"y":780,"wires":[["258f3030.3003b"]]},{"id":"258f3030.3003b","type":"change","z":"33121b70.1b26f4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":780,"wires":[["2e612444.f144fc"]]},{"id":"2e612444.f144fc","type":"file","z":"33121b70.1b26f4","name":"","filename":"/home/pi/python_alpr_v2.py","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":760,"y":780,"wires":[[]]},{"id":"69a1d3df.68ad8c","type":"inject","z":"33121b70.1b26f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":780,"wires":[["aed6434b.6ffaf"]]},{"id":"44d06d1d.b8cd14","type":"image-info","z":"33121b70.1b26f4","name":"","x":370,"y":60,"wires":[["73a89cad.231bb4"]]},{"id":"5e98c283.f1c37c","type":"jimp-image","z":"33121b70.1b26f4","name":"","data":"payload.image","dataType":"msg","ret":"img","parameter1":"bbox[0]","parameter1Type":"msg","parameter2":"bbox[1]","parameter2Type":"msg","parameter3":"bbox[2]","parameter3Type":"msg","parameter4":"bbox[3]","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"crop","selectedJimpFunction":{"name":"crop","fn":"crop","description":"crop to the given region","parameters":[{"name":"x","type":"num","required":true,"hint":"the x coordinate to crop form"},{"name":"y","type":"num","required":true,"hint":"the y coordinate to crop form"},{"name":"w","type":"num","required":true,"hint":"the width of the crop region"},{"name":"h","type":"num","required":true,"hint":"the height of the crop region"}]},"x":630,"y":160,"wires":[["306d0a1d.2caec6"]]},{"id":"306d0a1d.2caec6","type":"subflow:480aa5fc.9818fc","z":"33121b70.1b26f4","name":"","env":[{"name":"log_time","value":"true","type":"bool"}],"x":760,"y":100,"wires":[["73520b5a.d23284"]]}]
