nodered_flow.json
[
    {
        "id": "73e28a9b.5f1494",
        "type": "tab",
        "label": "ALPR",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7998d645.b7b348",
        "type": "file",
        "z": "73e28a9b.5f1494",
        "name": "Zapisanie obrazu w pliku image.png",
        "filename": "/home/pi/image.png",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "518ca0d7.91a1e"
            ]
        ]
    },
    {
        "id": "8fb986c1.82a708",
        "type": "exec",
        "z": "73e28a9b.5f1494",
        "command": "/home/pi/.local/bin/.virtualenvs/easyocr/bin/python3 -u /home/pi/python_alpr.py ",
        "addpay": "arg",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Uruchomienie skryptu python",
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "99fa41b5.2c15c"
            ],
            [],
            []
        ]
    },
    {
        "id": "518ca0d7.91a1e",
        "type": "change",
        "z": "73e28a9b.5f1494",
        "name": "Ustawienie argumentów wejściowych",
        "rules": [
            {
                "t": "set",
                "p": "arg",
                "pt": "msg",
                "to": "$join([\"1.05\",$string(msg.maxScore.bbox[0]),$string(msg.maxScore.bbox[1]),$string(msg.maxScore.bbox[2]),$string(msg.maxScore.bbox[3])],\" \")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "8fb986c1.82a708"
            ]
        ]
    },
    {
        "id": "cbe6f7ab.9bbd98",
        "type": "debug",
        "z": "73e28a9b.5f1494",
        "name": "Wyświetlenie komunikatu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 820,
        "wires": []
    },
    {
        "id": "164e5aa.90e3da5",
        "type": "status",
        "z": "73e28a9b.5f1494",
        "name": "Zmiana statusu",
        "scope": [
            "8fb986c1.82a708"
        ],
        "x": 160,
        "y": 820,
        "wires": [
            [
                "54394d3e.223ba4"
            ]
        ]
    },
    {
        "id": "54394d3e.223ba4",
        "type": "function",
        "z": "73e28a9b.5f1494",
        "name": "Ustawienie zmiennej globalnej",
        "func": "global.set(\"status\",msg.status.fill === \"red\" ? \"error\" : \"good\");\nmsg.payload = global.get(\"status\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 820,
        "wires": [
            [
                "795e3e58.8e1aa"
            ]
        ]
    },
    {
        "id": "795e3e58.8e1aa",
        "type": "switch",
        "z": "73e28a9b.5f1494",
        "name": "Podział statusu",
        "property": "status",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "error",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "3ac75630.05a06a"
            ],
            [
                "90967472.4c2328"
            ]
        ]
    },
    {
        "id": "3ac75630.05a06a",
        "type": "change",
        "z": "73e28a9b.5f1494",
        "name": "Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Input Image Error - No plate found!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 800,
        "wires": [
            [
                "31823d26.4d73c2"
            ]
        ]
    },
    {
        "id": "99fa41b5.2c15c",
        "type": "switch",
        "z": "73e28a9b.5f1494",
        "name": "Filtr error",
        "property": "status",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1260,
        "y": 540,
        "wires": [
            [
                "5836497.1adedb8"
            ]
        ]
    },
    {
        "id": "31823d26.4d73c2",
        "type": "rbe",
        "z": "73e28a9b.5f1494",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 970,
        "y": 820,
        "wires": [
            [
                "cbe6f7ab.9bbd98"
            ]
        ]
    },
    {
        "id": "90967472.4c2328",
        "type": "change",
        "z": "73e28a9b.5f1494",
        "name": "Proszę czekać",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please wait...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 840,
        "wires": [
            [
                "31823d26.4d73c2"
            ]
        ]
    },
    {
        "id": "5836497.1adedb8",
        "type": "file in",
        "z": "73e28a9b.5f1494",
        "name": "Odczyt pliku z tekstem",
        "filename": "/home/pi/resultText.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 800,
        "y": 600,
        "wires": [
            [
                "a3c01cdb.74023"
            ]
        ]
    },
    {
        "id": "cbc8fe71.ec1ec",
        "type": "debug",
        "z": "73e28a9b.5f1494",
        "name": "Wyświetlenie tekstu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 680,
        "wires": []
    },
    {
        "id": "a3c01cdb.74023",
        "type": "function",
        "z": "73e28a9b.5f1494",
        "name": "Sanitaryzacja uzyskanego tekstu",
        "func": "msg.payload = msg.payload.replace(/[^a-z0-9]/gi,'');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "9d561618.d24668"
            ]
        ]
    },
    {
        "id": "7fc7667f.f072d8",
        "type": "fileinject",
        "z": "73e28a9b.5f1494",
        "name": "Wprowadzenie pliku",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "8836407a.45aa9"
            ]
        ]
    },
    {
        "id": "ea5f7d90.3c598",
        "type": "tf-function",
        "z": "73e28a9b.5f1494",
        "name": "Stworzenie tensoru",
        "func": "const image = tf.tidy(()=>{\n    return tf.node.decodeImage(msg.payload, 3).expandDims(0);\n});\n\nmsg.image = msg.payload;\nmsg.payload = { image_tensor: image }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "2d35b972.2e9b16"
            ]
        ]
    },
    {
        "id": "2d35b972.2e9b16",
        "type": "tf-model",
        "z": "73e28a9b.5f1494",
        "modelURL": "https://storage.googleapis.com/tfjs-models/savedmodel/ssdlite_mobilenet_v2/model.json",
        "outputNode": "",
        "name": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "64683346.a0bffc"
            ]
        ]
    },
    {
        "id": "64683346.a0bffc",
        "type": "post-object-detection",
        "z": "73e28a9b.5f1494",
        "classesURL": "https://api.jsonbin.io/b/60f2c9b9c1256a01cb7150fb",
        "iou": "0.5",
        "minScore": "0.5",
        "name": "",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "17e8f4be.52cb7b"
            ]
        ]
    },
    {
        "id": "17e8f4be.52cb7b",
        "type": "function",
        "z": "73e28a9b.5f1494",
        "name": "Zmiana msg.payload, msg.maxScore i msg.isCar",
        "func": "msg.cars = msg.payload.filter(function(e) { return e.className === 'samochód'; });\nif (msg.cars.length > 0) {\n    msg.isCar = true;\n}\nelse{\n    msg.isCar = false;\n}\nmsg.payload = {\n    objects: msg.payload,\n    image: msg.image\n}\nmsg.maxScore = msg.payload.objects.reduce(function(prev, current) {\n    return (prev.bbox[2]*prev.bbox[3] > current.bbox[2]*current.bbox[3]) ? prev : current\n});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 200,
        "wires": [
            [
                "62a85d3b.954664"
            ]
        ]
    },
    {
        "id": "62a85d3b.954664",
        "type": "switch",
        "z": "73e28a9b.5f1494",
        "name": "Filtr samochód",
        "property": "isCar",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "54ec0dbd.a97db4"
            ]
        ]
    },
    {
        "id": "54ec0dbd.a97db4",
        "type": "change",
        "z": "73e28a9b.5f1494",
        "name": "msg.payload = obraz wejściowy",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "image",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 320,
        "wires": [
            [
                "7998d645.b7b348"
            ]
        ]
    },
    {
        "id": "8836407a.45aa9",
        "type": "function",
        "z": "73e28a9b.5f1494",
        "name": "Generowanie timestampa",
        "func": "msg.timestamp = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 180,
        "wires": [
            [
                "ea5f7d90.3c598"
            ]
        ]
    },
    {
        "id": "9d561618.d24668",
        "type": "function",
        "z": "73e28a9b.5f1494",
        "name": "Obliczenie czasu",
        "func": "msg.fulltime = (new Date() - msg.timestamp)/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 640,
        "wires": [
            [
                "cbc8fe71.ec1ec",
                "15aacaa9.86a375"
            ]
        ]
    },
    {
        "id": "15aacaa9.86a375",
        "type": "debug",
        "z": "73e28a9b.5f1494",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fulltime",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 740,
        "wires": []
    }
]
